{{define "content"}}
<div class="section blue-grey darken-1 blue-grey-text text-darken-4">
    <div class="container">
        <div class="col s12 m9">
            <h1 class="header center-on-small-only ">DashBoard</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col m9">
        <h5>servers</h5>
        <div class="collection" style="margin-bottom:0; border-left: 0; border-right: 0; border-bottom:0;"> 
            {{range .Info.Servers}}
            <div class="collection-item">{{.Name}} - <a href="/pasta?s={{.ID}}">pasta</a></div>
            {{end}}
        </div>
    </div>
</div>
{{ end }}